/* FONTS */
@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/PTSans-Regular.ttf");
  }
  @font-face {
	font-family: 'PT Sans';
	src: url("../fonts/PTSans-Bold.ttf");
	font-weight: bold;
  }
  @font-face {
	font-family: 'PT Sans-italic';
	src: url("../fonts/PTSans-BoldItalic.ttf");
	font-weight: bold;
  }
/* FONTS END */

/* GLOBALS */
h1,h2,h3,h4,h5,h6, p,a,span,div {
	font-family: 'PT Sans';
	margin: 0px;
}
button:focus {
    outline: none;
}
.menu-item:focus,
.menu-item a:focus,
.menu-item a:focus span {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}
.dropdown-item:focus {
    background: transparent;
    outline: none;
    color: #fff;
}
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
:root {
	--blue: #134077;
	--red: rgb(199, 54, 61);
}
/* GLOBALS END*/

/* HEADER STYLE START */
.custom-toggler-icon {
    width: 40px;
    height: 35px;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}

.dropdown-toggle a::after{
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}
.main_nav {
	padding-left: 0px;
	padding-right: 0px;
}
.main_header_fluid {
	position: absolute;
	width: 100%;
	padding-top: 15px;
	z-index: 3;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.full_height_l_sidebar {
	width: 191px;
    position: fixed;
    left: 0px;
    height: 100%;
    z-index: 9999;
	background: #fff;
	box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.44);
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}
.sibar-menu-wrapper ul {
	padding-left: 30px;
	margin-bottom: 0px;
}
.sibar-menu-wrapper ul li {
	list-style: none;
	margin-bottom: 4px;
}
.sibar-menu-wrapper ul li a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 0px;
    transition: 0.3s all;
    background: red;
    left: 0px;
}
.sibar-menu-wrapper ul li a:hover:after {
	width: 125px;
}
.sibar-menu-wrapper ul li a {
	font-size: 14px;
	color: #8b8b8b;
	text-transform: uppercase;
	position: relative;
	font-weight: bold;
}
.flex_page {
	flex: 1;
	position: relative;
}
.sibar-menu-wrapper {
    padding-bottom: 65px;
}
.main_site_wrapper {
	padding-left: 191px;
	position: relative;
	min-height: 100vh;
}
.title-subtitle-wrap {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.title-subtitle-wrap h2 {
    color: #fff;
    padding-top: 10px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}
.title-subtitle-wrap h1 {
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    max-width: 250px;
    padding-bottom: 10px;
	border-bottom: 2px solid #fff;
	font-weight: bold;
}
.title-subtitle-wrap-sm {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding-bottom: 40px;
}
.title-subtitle-wrap-sm h3 {
    color: #fff;
    padding-top: 10px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}
.title-subtitle-wrap-sm h2 {
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    max-width: 250px;
    padding-bottom: 10px;
	border-bottom: 2px solid #fff;
	font-weight: bold;
}
.main_header_fluid a {
	color:#fff;
	font-weight: bold;
}
.logo_wrapper {
	text-align: center;
}
.logo_wrapper img {
	max-width: 100%;
}
.h-langs-wrap {
	margin-right: 20px;
}
.h-langs-wrap a {
	font-weight: normal;
	text-decoration: underline;
	font-size: 18px;
}
.h-socs-wrap {
    display: flex;
    align-items: center;
}
.cir-lat-socials_wrapper {
	display: flex;
}
.h-socs-wrap a {
	display: block;
	margin-left: 20px;
}
/* HEADER STYLE END */


/* FOOTER STYLE */
footer {
    position: absolute;
	left: 0px;
	bottom: 0px;
    z-index: 9999;
    width: 100%;
    padding-left: 200px;
    background: #fff;
    padding: 10px 0px 10px 260px;
}
.site-info {
    font-weight: bold;
	color: var(--blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.site-info a {
    font-weight: bold;
    color: var(--blue);
}
.footer-socials-wrapper {
	display: flex;
	padding-right: 30px;
}
.footer-socials-wrapper a {
    display: block;
    margin-left: 30px;
}
/* FOOTER STYLE END */


/**** HOME ***/
/* HOME HERO START */
.home_hero_fluid .row {
	display: flex;
	flex-direction: column;
	height: 515px;
	padding-top: 40px;
}
.home_hero_fluid .row .col-12 {
	flex: 1;
}
.home_hero_fluid {
	background-position: center;
	background-size: cover;	
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}
.overlay-div {
    background-color: rgba(18, 26, 87, 1);
    opacity: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.hero-search-wrap {
    text-align: center;
}
.hero-search-wrap form {
	position: relative;
	display: inline-block;
	width: 317px;
	height: 49px;
}
.hero-search-wrap input#searchsubmit {
    position: absolute;
    right: 0px;
    background: transparent;
	border: none;
	height: 100%;
    width: 40px;
    padding: 0px;
	z-index: 9;
	outline: none;
}
input#s {
	width: 100%;
	height: 100%;
	background: rgb(255 255 255 / 74%);
	outline: none;
	border: none;
	padding-left: 19px;
	font-size: 18px;
	color: #134077;
	padding-right: 50px;
}
.serch-icon-wrapper{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-search-wrap input#s::placeholder { 
	color: #134077;
	opacity: 1;
}
/* HOME HERO END */


/* HOME NEWS START */
.home-news-fluid {
	background-color: #134077;
	padding: 51px 30px 30px 30px;
}
.home-news-links-list {
	display: flex;
	padding-left: 0px;
	margin-bottom: 14px;
	flex-wrap: wrap;
}
.home-news-links-list li {
	list-style: none;
	transition: 0.3s all;
	margin-bottom: 2px;
}
.home-news-links-list li a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 1px 4px;
    margin-right: 10px;
    background: var(--red);
}
.home-news-links-list li:hover {
    margin-top: -4px;
}
.home-news-posts-wrapper {
	padding: 55px 30px 40px 30px;
	background: #fff;
	position: relative;
}
.slider-post-image {
	text-align: center;
	background-position: center;
	background-size: cover;
}
.swiper-button-next-unique {
    right: 0px;
    position: absolute;
    height: 100%;
    width: 60px;
    top: 0px;
    background: #13447780;
	z-index: 999;
	transition: 0.2s ease-out;
}
.swiper-button-next-unique:focus {
    outline: none;
    border: none;
}
.swiper-button-prev-unique {
    left: 0px;
    position: absolute;
    height: 100%;
    width: 60px;
    top: 0px;
    background: #13447780;
	z-index: 999;
	transition: 0.2s ease-out;
}
.swiper-slide {
	height: auto;
}
.slider-post-wrapper {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.swiper-button-disabled {
	visibility: hidden;
	opacity: 0%;
}
.swiper-button-prev-unique:focus {
    outline: none;
    border: none;
}
.slider-post-date {
	color: #8b8b8b;
	margin-top: 7px;
	margin-bottom: 5px;
}
.slider-post-title h3 {
    font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
}
.slider-post-button {
	margin-top: 10px;
	position: relative;
	display: inline-block;
}
.slider-post-button a {
    font-size: 15px;
    padding: 6px 19px;
	position: relative;
	border: 1px solid  var(--red);
	display: inline-block;
    color: white;
	background: var(--red); 
	font-weight: bold;
	background: linear-gradient(to left,  rgb(199, 54, 61) 50%, #fff 51%) right;
    background-size: 220%;
	transition: .3s ease-out;
	background-position-x: 95%;
}
.slider-post-button a:hover  {
	background-position: left;
	color: var(--red);
}
.ar-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* HOME NEWS END */


/* HOME FAST LINKS */
.fast-links-fluid {
	background-color: var(--red);
	padding: 70px 30px;
}
.fast-links-big-title h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
	line-height: 1;
	font-weight: bold;
}
.fast-links-l-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.fast-links-description p {
	font-size: 18px;
	max-width: 325px;
	color: #fff;
	line-height: 1.3;
	font-weight: bold;
}
.fl_devider {
    height: 2px;
    background: #fff;
    margin: 10px 0px;
    max-width: 80%;
}
.fl_wrapper {
    padding: 10px;
    background-color: #fff;
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fl_wrapper h3 {
	font-size: 18px;
	color: var(--blue);
	font-weight: bold;
}
.fs_col {
	margin-bottom: 15px;
    margin-top: 15px;
}
.fl_img_wrapper {
    text-align: right;
    margin-top: 5px;
}
.fl_img_wrapper img {
	max-width: 40px;
	transition: 0.3s ease-out;
}
a.fl_wrapper:hover img {
    transform: scale(1.2);
}
/* HOME FAST LINKS END */


/* HOME BANERS START */
.home-baners-fluid {
	background: rgba(242, 242, 242, 1);
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 37px;
}
.baner-col {
	margin-bottom: 30px;
}
.single_baner_wrapper {
	display: flex;
	height: 100%;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
}
.sb_img_wrapper {
	width: 30%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sb_content_wrapper {
    background-color: var(--blue);
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	display: flex;
	padding: 15px 7px;
	background: radial-gradient(circle, rgba(19,64,119,0.49343487394957986) 0%, rgba(19,64,119,1) 100%);
}
.baners-title-col p {
	line-height: 1;
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    background: var(--blue);
	padding: 5px 10px;
	font-weight: bold;
}
.sb_title {
    color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.sb_content_wrapper a {
	color: #fff;
	transition: 0.3s ease-out;
}
.sb_devider {
    height: 2px;
    background: #fff;
    margin: 10px 0px 6px 0px;
    width: 56%;
}
.sb_content_wrapper a:hover {
	margin-left: 10px;
	margin-right: -10px;
}
.sb_content_wrapper a:after {
    content: ' \2192';
}
/* HOME BANERS END */


/* HOME ESERVICE */
.home-eservis-fluid {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 120px;
}
.eservice-title-col p {
	line-height: 1;
    margin-top: 30px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    background: var(--blue);
	padding: 5px 10px;
	font-weight: bold;
}
.eservice-left-title-wrapper {
    display: flex;
    align-items: center;
}
.eservice-left-title-wrapper h2 {
    color: var(--blue);
    font-weight: bold;
	font-size: 48px;
}
.eservice-title-col {
    margin-bottom: 40px;
}
.right-col-services-wrapper .s-service-wrapper {
	height: 100%;
	padding: 5px 10px;
}
.eservice_devider {
    height: 2px;
    background-color: var(--blue);
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 400px;
}
.eservice_content_link p {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.4;
    color: var(--blue);
    font-weight: bold;
}
.eservice_content_link a {
    color: #fff;
    background: var(--red);
    padding: 14px 24px;
    display: inline-block;
    margin-top: 35px;
}
.single-service-wrapper {
	height: 100%;
	border: 2px solid var(--blue);
	padding: 10px;
	display: flex;
	align-items: center;
	transition: 0.2s ease-in-out;
}
.single-service-wrapper:hover {
	transform: scale(1.05);
}
.single-service-wrapper h3 {
	color: var(--blue);
	font-weight: bold;
	font-size: 18px;
}
.services-right-title-wrapper h2 { 
color: var(--blue);
font-weight: bold;
font-size: 48px;
}
.right-col-services-wrapper {
    padding-top: 16px;
}
.single-service-wrapper img {
	max-width: 32px;
	margin-right: 10px;
}
.services-right-title-wrapper {
    margin-bottom: 40px;
}
.right-col-services-wrapper .col-md-6 {
	margin-bottom: 15px;
}
/* HOME ESERVICE END */


/* HOME SUGESTION POST */
.home-sugestion-fluid {
	background-color: var(--blue);
	padding-bottom: 105px;
	padding-left: 30px;
	padding-right: 30px;
}
.lef-main-half-col {
	padding-right: 45px;
}
.sugestion-title-col p {
	line-height: 1;
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #fff;
	display: inline-block;
	background: var(--red);
	padding: 5px 10px;
	font-weight: bold;
}
.left-sep_post {
	color: #fff;
	font-weight: bold;
}
.sep_post_date {
	margin-bottom: 21px;
	font-size: 14px;
}
.sep_post_content {
	margin-bottom: 20px;
}
.left-sep_post {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.people_sugest_wrapper {
    color: #fff;
	font-weight: bold;
	max-width: 550px;
}
.people_sugest_wrapper h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 60px;
	line-height: 0.8;
}
.devider-p {
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.border_wrapper {
    padding-left: 60px;
    padding-bottom: 30px;
    border-left: 2px solid #fff;
}
.sugestion_bexes {
	padding: 5px 10px 10px 10px;
	background-color: #fff;
	color: var(--blue);
	font-weight: bold;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sugestion_boxes_row {
    max-width: 550px;
}
.sugestion_bexes a {
	display: block;
	padding-top: 40px;
	position: relative;
}
.sugestion_bexes a:after {
	content: ' \2192';
	position: absolute;
	right: 0px;
	font-size: 36px;
	top: 0px;
	color: var(--red);
	right: 20px;
	transition: 0.2s all;
}
.sugestion_bexes a:hover:after {
	right: 5px;
}

/* HOME SUGESTION POST END */


/* HOME GREEN BOX */
.home-green-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
.green-info-col {
	padding-bottom: 40px;
}
.green-title-col p {
	line-height: 1;
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #fff;
	display: inline-block;
	background: rgba(125, 193, 68, 1);
	padding: 5px 10px;
	font-weight: bold;
}
.green-info-col h2	{
	margin-top: 30px;
	font-size: 48px;
	padding-bottom: 30px;
	color: var(--blue);
	border-bottom: 2px solid var(--blue);
	font-weight: bold;
	text-transform: uppercase;
}
.green-info-col p {
	font-size: 18px;
	color: var(--blue);
	padding-top: 25px;
	padding-bottom: 25px;
	font-weight: bold;
}
.green-info-col a {
	color: #fff;
	font-size: 15px;
	background-color: var(--blue);
	padding: 8px 20px;
	font-weight: bold;
}
.green-info-col a img {
    margin-right: 12px;
}
.red-box-wrapper {
	padding: 40px 40px 40px 30px;
	color: #fff;
	background-color: var(--red);
	margin-bottom: 50px;
}
.red-box-wrapper h2 {
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
}
.green-tree-col {
    display: flex;
    align-items: flex-end;
}
.green-tree-col img {
	margin-bottom: -10px;
	position: relative;
    z-index: 999;
}
.red-box-devider {
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 70%;
	background-color: #fff;
}
.red-box-wrapper p {
	max-width: 70%;
	font-weight: bold;
}
.rb-con-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.addon-input-txt {
    max-width: 330px;
    margin-top: 5px;
    color: var(--blue);
    font-size: 13px;
}
/* HOME GREEN BOX END  */


/* HOME CONTACT */
.contact-fluid {
	background-color: #f2f2f2;
	padding-bottom: 120px;
	padding-left: 30px;
    padding-right: 30px;
}
.contact-info-col h2 {
    margin-top: 30px;
    font-size: 48px;
    padding-bottom: 30px;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    font-weight: bold;
    text-transform: uppercase;
    max-width: 85%;
}
.contact-info-col p {
    font-size: 18px;
	color: var(--blue);
	padding-top: 25px;
	padding-bottom: 25px;
	font-weight: bold;
	max-width: 370px;
}
.man-cform-col {
	margin-top: 30px;
}
.form-col > div {
	margin-bottom: 35px;
}
.form-col input, textarea {
    border: none;
    background: transparent;
	border-bottom: 2px solid var(--blue);
	padding-bottom: 5px;
	max-width: 100%;
}
.form-col input, textarea:focus {
    outline: none;
}
.form-col input::placeholder, textarea::placeholder {
	color: var(--blue);
	font-weight: bold;
}
.form-col textarea {
    margin-top: 20px;
}
#contact-send {
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: var(--red);
    color: #fff;
    padding: 8px 20px 10px 20px;
    display: flex;
    line-height: 1;
}
#contact-send:focus {
	outline: none;
}
.wpcf7-response-output {
    margin-left: 0px !important;
    margin-top: 5px !important;
}
/* HOME CONTACT END */
/**** HOME END ***/



/**** CATEGORY START ***/
.all_hero_fluid .row {
	display: flex;
	height: 320px;
}
.all_hero_fluid {
	background-position: center;
	background-size: cover;	
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}
.left-sidebar-template-wrapper {
	padding: 30px;
	padding-bottom: 120px;
	background-color: var(--blue);
}
.blue-sidebar-wrapper h3 {
    background: #f2f2f2;
    color: var(--blue);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
}
.left-sidebar-template-wrapper ul {
	padding-left: 0px;
	margin-top: 30px;
}
.left-sidebar-template-wrapper li {
    list-style: none;
    padding: 2px 0px;
    margin-bottom: 4px;
}
.left-sidebar-template-wrapper li a {
	color: #fff;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.2s ease-out;
}
.left-sidebar-template-wrapper li a:hover {
	margin-left: 5px;
}
#active_link a {
	border-bottom: 2px solid var(--red);
}
.main-posts-wrapper {
	padding: 0px 50px;
	background-color: #fff;
}
.main-posts-wrapper .sugestion-title-col {
	text-transform: uppercase;
	padding-bottom: 15px;
}
.main-posts-wrapper .col-md-6 {
	margin-bottom: 60px;
}
.cat_and_date {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: center;
}
.cat_and_date p {
	color: #fff;
	background: var(--blue);
	padding: 1px 8px;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 13px;
}
.pagination-wrapper {
    margin-bottom: 40px;
}
.pagination-wrapper a {
	font-weight: bold;
	color: var(--blue);
	font-size: 17px;
}
.pagination-wrapper .current {
	color: var(--red);
	font-weight: bold;
	font-size: 17px;
}
a.prev.page-numbers {
    margin-right: 15px;
}
a.next.page-numbers {
    margin-left: 15px;
}
.arrow-pointert-wrapper {
	display: none;
}
/**** CATEGORY END ***/



/**** PAGE START ***/
.hero-search-col {
	display: flex;
	justify-content: center;
	align-items: center;
}
.parent-col {
	padding-right: 100px;
}
.hero-search-col .hero-search-wrap {
    margin-bottom: -50px;
}
.page_childrens_sidebar h3 {
	text-transform: uppercase;
}
.page_contnet_wrapper {
    background: #fff;
    padding: 50px 30px 50px 50px;
}
.title-content-page-col h1{
	color: var(--blue);
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}
.page_contnet {
	color: #707070;
	font-size: 20px;
	line-height: 27px;
}
.parent-page-template-wrapper {
	padding: 50px 50px 110px 50px;
}
.child-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 10px 20px;
	background-color: #f2f2f2;
	transition: 0.2s ease-out;
}
.child-link img {
	max-height: 23px;
}
.child-link p {
	font-size: 20px;
	font-weight: bold;
	color: var(--blue);
}
.child-link-wrapper {
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.child-link-wrapper:after {
    content: "";
    position: absolute;
    bottom: -5px;
    background: transparent;
    width: 0%;
    height: 10px;
    left: 50%;
    border-radius: 50%;
	filter: blur(3px);
	transition: 0.2s ease-out;
}
.child-link-wrapper:hover .child-link {
	transform: translateY(-10px);
}
.child-link-wrapper:hover:after {
	background: rgb(43 42 42 / 22%);
	bottom: -10px;
	width: 90%;
	left: 4%;
}
.sample-page-template-wrapper {
    padding-bottom: 120px;
    background-color: #fff;
}
.sample-page-template-wrapper h1{
	font-family: PT Sans-italic;
	font-size: 45px;
	margin-bottom: 50px;
	padding-bottom: 5px;
	border-bottom: 3px solid var(--red);
}
.parent-page-template-wrapper h1 { 
	font-family: PT Sans-italic;
    font-size: 45px;
    margin-bottom: 50px;
    padding-bottom: 5px;
	border-bottom: 3px solid var(--red);
}
.sample-page-template-wrapper .title-content-page-col {
	padding-right: 100px;
}
/**** PAGE END ***/


/**** RIGHT SIDEBAR ***/
.services-links-sidebar-wrapper {
	margin-bottom: 60px;
}
.s-service-wrapper {
	margin-bottom: 10px;
	border: 2px solid var(--blue);
	padding: 10px;
	display: flex;
	align-items: center;
	position: relative;
	transition: 0.1s all;
}
.s-service-wrapper:hover {
    transform: scale(1.04);
}
.s-service-wrapper h3 {
    font-size: 15px;
    color: var(--blue);
    font-weight: bold;
}
.service_icon-wrapper {
	min-width: 32px;
	margin-right: 10px;
	text-align: center;
}
.s-service-wrapper img {
    max-width: 32px;
}
.sidbar-baner {
	display: flex;
	min-height: 145px;
	margin-bottom: 20px;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
}
.sidbar-baner_img-wrapper {
	width: 30%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-baner-contnet_wrapper { 
	background-color: var(--blue);
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 15px 7px;
    background: radial-gradient(circle, rgba(19,64,119,0.49343487394957986) 0%, rgba(19,64,119,1) 100%);
}
.sidebar-baner-contnet_wrapper h3 {
	color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.sidebar-baner-contnet_wrapper a {
	color: #fff;
	transition: 0.3s ease-out;
}
.sidebar-baner-contnet_wrapper a:hover {
	margin-left: 10px;
	margin-right: -10px;
}
.sidebar-baner-contnet_wrapper a:after {
    content: ' \2192';
}
/**** RIGHT SIDEBAR END ***/


/* POST START */
.post-fluid {
	background-color: var(--blue);
	padding: 30px;
    padding-bottom: 120px;
}
.post-sidebar ul {
    padding-left: 0px;
    list-style: none;
    margin-top: 30px;
}
.post-sidebar ul li { 
	list-style: none;
    padding: 2px 0px;
    margin-bottom: 4px;
}
.post-sidebar li a { 
	color: #fff;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.2s ease-out;
} 
.post-content-wrapper {
	background: #fff;
    padding: 50px 30px 50px 50px;
}
.post_title {
	margin-bottom: 30px;
}
.title-content-post-col h1 {
    color: var(--blue);
    font-size: 30px;
    font-weight: bold;
}
.post_date {
    color: #8b8b8b;
    margin-top: 3px;
	font-size: 15px;
	font-weight: bold;
}


.gallery_2_images_wrapper {
    display: flex;
	height: 420px;
	margin-bottom: 50px;
}
.g2-col {
    height: 100%;
    width: 50%;
}
.l-g2-col {
	padding-right: 10px;
}
.r-g2-col {
	padding-left: 10px;
}
.g2-col a {
	display: block;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.gallery-post-wrapper {
	display: flex;
	margin-bottom: 50px;
}
.gallery-post-wrapper a {
	display: block;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.big-pic-col {
    width: 65%;
    height: 420px;
}
.small-pic-col {
    width: 35%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.small-pic-col a:first-child {
	margin-bottom: 15px;
}
.single_image_gal_wrapper {
	text-align: center;
	margin-bottom: 50px;
}
.rest_images {
	display: none;
}
.post-content p {
    font-size: 18px;
}
.post_share_wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.post_share_wrapper p {
	font-size: 17px;
	font-weight: bold;
	line-height: 1.2;
	color: var(--blue);
}
.share-link {
	margin-left: 15px;
}
.related_row {
	margin-top: 100px;
}
/* POST END */

/* SEARCH START */
.results-count.no-res-p {
	font-family: PT Sans-italic;
	font-size: 35px;
}
.results-count {
    font-weight: bold;
    font-style: italic;
    color: var(--blue);
    font-size: 18px;
}
.s-results-list {
	padding-left: 0px;

}
.s-results-list {
    padding-left: 0px;
    list-style: none;
    margin-top: 30px;
}
.s-res-link a {
    display: block;
	white-space: nowrap;
	color: var(--blue);
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
.s-res-wrapper {
	display: flex;
	justify-content: space-between;
    padding: 10px;
	background: #f2f2f2;
	margin-bottom: 15px;
}
.s-res-wrapper h3 {
	font-size: 17px;
	font-weight: bold;
	color: var(--blue);
	margin-bottom: 5px;
}
.s-res-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 20%;
    align-items: flex-end;
}
.s-res-wrapper p {
	font-size: 15px;
	color: var(--blue);
}
/* SEARCH END */

/* 404 START*/
.fluid-404 {
    display: flex;
    padding-bottom: 120px;
}
.contnent-404 {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-top: 100px;
    justify-content: center;
    width: 60%;
}
.contnent-404 h2 {
    font-size: 79px;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 15px;
}
.contnent-404 p {
    font-size: 30px;
    font-weight: bold;
	color: var(--blue);
	margin-bottom: 30px;
}
.contnent-404 a {
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    background-color: var(--red);
    display: block;
    max-width: 250px;
    text-align: center;
    font-weight: bold;
}
.image-404 {
    display: flex;
    align-items: center;
}
/* 404 END*/




































/* RESPONSIVE */
.custom-toggler-icon {
    width: 36px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-bar {
	height: 6px;
	border-radius: 6px;
	background-color: rgba(196, 196, 196, 1);
}


@media(min-width: 1300px) {
	.custom-width-cont {
		max-width: 1300px;
	}
}
@media(min-width: 1550px) {
	.custom-width-cont {
		max-width: 1550px;
	}
}



@media(min-width: 1200px) {
/* MEGA MENU START */
header#masthead,
.main_nav,
#bs-example-navbar-collapse-1,
ul#menu-meni,
ul#menu-meni > li
 {
    position: static;
}
.dropdown-menu {
	min-width: 100%;
}
.show > .dropdown-toggle:after {
    transform:  rotate(-180deg);
}
.red-menu-btn a {
	background-color: var(--red);
}
header#masthead #menu-meni > li > ul {
	display: flex !important;
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
	position: absolute !important;
	background: var(--blue);
	border: none;
	padding-bottom: 30px;
}
ul#menu-meni > li > .dropdown-menu {
    width: 100%;
    border-radius: inherit;
    top: -600px;
	padding-top: 80px;
	transition: top 0.3s;
}
ul#menu-meni > li > .dropdown-menu.show {
	visibility: visible;
	transition: top 0.3s;
	top: 0px;
}
ul#menu-meni > li > a {
	position: relative;
	z-index: 9999;
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px 15px;
    margin-right: 5px;
}
ul#menu-meni > li:first-child > a {
	padding-left: 0px;
}
header#masthead #menu-meni > li > ul li > a::after {
	display: none;
}
header#masthead #menu-meni > li > ul > li a {
	font-size: 14px;
	white-space: break-spaces;
}
header#masthead #menu-meni > li > ul > li {
	margin-right: 3%;
    min-width: 12%;
}
header#masthead #menu-meni > li > ul > li > a {
	border-bottom: 1px solid var(--red);
	font-size: 20px;
}
header#masthead #menu-meni > li > ul > li:first-child {
	min-width: 20%;
}
header#masthead #menu-meni > li > ul > li:first-child a {
	padding: 0px;
	border: none;
}
#menu-meni .menu-item-has-children > ul {
	position: static !important;
	background: transparent;
    border: none;
}
.dropdown-item:hover {
	background: transparent;
	color: #fff;
}
.dropdown-item {
	padding: 7px;
}
.dropdown-toggle {
	white-space: break-spaces;
}
/* MEGA MENU END */
}

@media(max-width: 768px) {
	.home-news-fluid {
		padding-bottom: 45px;
	}
	.fast-links-fluid {
		padding-bottom: 30px;
	}
	.home-baners-fluid {
		padding-bottom: 15px;
	}
	.home-eservis-fluid {
		padding-bottom: 30px;
	}
	.home-sugestion-fluid {
		padding-bottom: 0px;
	}
	.swiper-button-next-unique {
		width: 25px;
	}
	.green-info-col p {
		padding-top: 15px;
	}
	.green-info-col h2 {
		padding-bottom: 15px;
	}
	.swiper-button-prev-unique {
		width: 25px;
	}
	.arrow-slider-wrapper img {
		max-width: 16px;
	}
	.fl_img_wrapper {
		margin-top: 25px;
	}
	.res_title {
		font-size: 35px;
	}
	.res_title h2 {
		font-size: 35px;
	}
	.title-subtitle-wrap h1 {
		font-size: 35px;
		line-height: 45px;
	}
	.title-subtitle-wrap h2 {
		font-size: 24px;
	}
	.eservice_content_link {
		margin-bottom: 60px;
	}
	.eservice_content_link a {
		margin-top: 20px;
	}
	.eservice_devider {
		margin-bottom: 20px;
	}
	.red-box-wrapper {
		padding: 30px 15px;
	}
	.border_wrapper {
		padding-left: 0px;
		border: 0px;
		padding-bottom: 0px;
	}
	.people_sugest_wrapper h2 {
		padding-left: 0px;
		line-height: 40px;
	}
	.separate_post_image {
		display: none;
	}
	.devider-p {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 30px;
	}
	.sugestion_bexes {
		font-size: 18px;
		max-width: 280px;
		margin: 0 auto;
	}
	.sugestion_boxes_row .col-md-6 {
		margin-bottom: 40px;
	}
	.contact-info-col h2 {
		margin-top: 0px;
	}
	.copyright-wrapper {
		font-size: 12px;
	}
	input#s {
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.hero-title-wrapper h2 {
		font-size: 35px;
		line-height: 45px;
	}
	.hero-title-wrapper h3 {
		font-size: 24px;
	}
	.left-sidebar-template-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-posts-wrapper {
		padding: 0px 15px;
	}
	.blue-sidebar-wrapper {
		margin-bottom: 30px;
    	position: relative;
    	background: #f2f2f2;
	}
	.blue-sidebar-wrapper h3 {
		text-align: left;
		padding-left: 15px;
		position: relative;
		z-index: 99;
		background-color: transparent;
	}
	.left-sidebar-template-wrapper ul {
		display: none;
		margin-top: 0px;
		position: absolute;
		width: 100%;
		background-color: var(--blue);
		padding: 15px;
		z-index: 2;
	}
	.arrow-pointert-wrapper {
		display: block;
		position: absolute;
		right: 15px;
		top: 6px;
		z-index: 1;
	}
	.arrow-pointert-wrapper {
		transition: 0.3s all;
		transform: rotate(0deg);
	}
	.arrow-pointert-wrapper.open-list {
		transition: 0.3s all;
		transform: rotate(180deg);
	}
}


@media(max-width: 1199px) {
	.cir-lat-socials_wrapper {
		position: absolute;
    	right: 20px;
    	top: 25px;
	}
	.site-header {
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	button.navbar-toggler {
		z-index: 99;
		margin-left: 30px;
		padding: 0px;
		margin-top: 15px;
	}
	#bs-example-navbar-collapse-1 {
		width: 100%;
		padding: 75px 15px 15px 30px;
		position: absolute;
		top: 0px;
		left: -100%;
		transition: 0.2s all;
	}
	#bs-example-navbar-collapse-1.show {
	
		left: 0%;
	}
	#bs-example-navbar-collapse-1 {
		background: var(--blue);
	}
	.dropdown-menu {
		background-color: var(--blue);
		border: none;
	}
	/* #menu-meni > .menu-item-has-children > ul > .menu-item-has-children > .dropdown-menu { 
		display: none; 
	} */
	.dropdown-menu li {
		padding-left: 25px;
	}
	a.dropdown-item {
		padding-left: 0px;
	}
}


@media(max-width:991px) {
	.title-subtitle-wrap-sm {
		padding-bottom: 0px;
	}
	.fast-links-l-col {
		margin-bottom: 30px;
	}
	.fast-links-fluid {
		padding: 40px 15px;
	}
	.full_height_l_sidebar {
		width: 85px;
		height: 435px;
	}
	.page-template-home-template .full_height_l_sidebar{
		height: 515px;
		box-shadow: none;
		position: absolute;
		justify-content: center;
		z-index: 1;
	}
	.full_height_l_sidebar{
		height: 435px;
		box-shadow: none;
		position: absolute;
		justify-content: center;
		z-index: 1;
	}
	.main_site_wrapper {
		padding-left: 0px;
	}
	.sibar-menu-wrapper {
		display: none;
	}
	.home_hero_fluid .row .col-12 {
		padding-left: 90px;
	}
	.main_header_fluid {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
		padding-bottom: 15px;
	}
	.navbar-toggler {
		padding: 4px 8px;
	}
	.hero-search-wrap form {
		width: 100%;
		max-width: 500px;
		height: 40px;
	}
	.page-template-home-template .hero-search-wrap {
		margin-top: 50px;
	}
	.res-padding {
		padding-left: 15px;
		padding-right: 15px;
	}
	.eservice-left-title-wrapper img {
		margin-left: 40px;
	}
	.left-sep_post {
		margin-bottom: 60px;
		justify-content: flex-start;
	}
	footer {
		padding-left: 15px;
	}
	.all_hero_fluid .row {
		height: 435px;
	}
	.hero-search-col .hero-search-wrap {
		width: 100%;
		margin-bottom: 0px;
	}
	.all_hero_fluid .row .col-12 {
		padding-left: 90px;
	}
	button.navbar-toggler {
		margin-left: 23.5px;
	}
	#bs-example-navbar-collapse-1 {
		padding-left: 23.5px;
	}
}